*{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}